*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    background-color:rgba(0, 0, 0, 1);
    color: #FFFFFF;
    font-family: Arial;
    width:100%;
    position:fixed;
}
@media(min-width: 320px) and (max-width: 450px){
    header{
        text-align: center;
}
}

h3{
    font-size: 1.8rem;
    font-family: arial;
    margin: 0;
    padding: 5px;
}
h4{
    font-size: 1rem;
    font-family: arial;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    }
body{
    background-color: rgb(220,220,220)
}
.container{
    background-color: #FFFFFF;
    width: 95%;
    box-shadow: 0.1px 0.1px 0.5px #000;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    min-width: 0;
    min-height: 0 ;
    margin-top: 40px;
}
footer{
    font-family: arial;
    color:#FFFFFF;
    background-color:rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
p{
    font-family: arial;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}
h1{
    font-family: arial;
    text-align: center;
    padding-top: 10px;
    font-size: 2.5rem;
}
h2{
    font-family: arial;
    text-align: center;
    padding-top: 10px;
    font-size: 1.9rem;
}
.texto-footer{
    text-align: center;
    font-family: arial;
    padding-top: 10px;
    font-size: 1.6rem;
    padding-bottom: 10px;      
}
.COMPRE{
    background-color: rgb(95,158,160);
    width: 150px;
    height: 100px;
    position: fixed;
    right: 0;
    text-align: center;
    margin-top: 10%;
    z-index: 1;
}
h5{
    font-family: arial;
    text-align: center;
    padding: 1px;
    font-size: 1.9rem;
}
button{
    font-family: arial;
    text-align: center;
    padding: 5px;
    font-size: 1.9rem;
    z-index: 1;
    background-color: rgb(0,128,128);
    color: #FFFFFF;
    border: solid;
}
#grid-container{
    margin-top: 5px;
    background-color: rgb(211,211,211);
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid div{
    background-color: #fff;
    font-family: arial;
    text-align: center;
    font-size: 1.6rem;
    padding: 2px;
    padding-bottom: 10px;
    box-shadow: 0.2px 0.2px #000;
}
#Formulario{
    background-color: rgb(25,25,112);
    color:#fff;
    text-shadow: 2px 2px  #000;

}

.Formulario-contato{
    font-family: arial;
    text-align: left;
    font-size: 1.8rem;
    padding: 10px;
    margin-left: 5%;
    font-weight: bold;
    color:#fff;
    text-shadow: 2px 2px  #000;
}

input{
    font-family: sans-serif;
    font-size: 1.7rem;
    padding: 5px;
    color:#fff
}
.dados-formulario{
    width: 60%;
    color: #000;
}
nav{
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    font-family: arial;
    font-size: 1.6rem;
    margin-right: 2%;
    word-spacing: 20px;
}
@media(min-width:320px) and (max-width:450px){
    nav{
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        font-family: arial;
        font-size: 1.6rem;
        word-spacing: 15px;
    }
}
a{
    text-decoration: none;
    color:rgb(255,255,255);
    transition: all 300ms ease-in-out;
}
a:hover{
    color: rgb(135,206,250);
}
#enviar{
    background-color: rgb(60,179,113);
    box-shadow: 3px 3px #000;
}
#limpar{
    background-color: rgb(178,34,34);
    box-shadow: 3px 3px #000;
}
#grid-container{
    padding-top: 0px;
}
.imagem-grid{
    width: 18rem;
    height: 10rem;
    border-radius: 20px;
}
.texto-grid{
    font-family: arial;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}
.link-grid{
    font-weight: bold;
    font-size: 1.8rem;
    background-color: #000;
    border-radius: 20px;
    padding: 5px;
}
#aluna{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
   padding: 30px;
}
ul,li{
    font-size: 1.6rem;
    font-family: arial;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}
.imagem-grid{
    transition: 300ms ease-in-out;
}
img:hover{
    transform: scale(1.3);
    box-shadow: 1px 1px 3px #000;
}